%div(data-role="page" id="session#{session[:id]}")
  %div(data-role="header")
    %h1 Session Detail
  %div(data-role="content")
    %h1= session[:title]
    %h2= session[:speakers]
    = session[:abstract]
