!!!
%html

  %head
    %meta{ :"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8" }
    %title YOW! Melbourne Schedule 2010

    %link(rel='stylesheet' href='http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.css')

    %script{:src=>'http://code.jquery.com/jquery-1.4.3.min.js'}
    %script{:src=>'http://code.jquery.com/mobile/1.0a1/jquery.mobile-1.0a1.min.js'}
      
  %body

    #days(data-role='page')

      %div(data-role='header')
        YOW! Melbourne Schedule 2010

      %div{"data-role" => "content"}
        %ul{"data-role" => "listview"}
          %li{"data-role" => "list-divider"} Days
          %li{"data-role" => "list-divider"}
            Day 1
          %li{"data-role" => "list-divider"}
            8:00 - 8:30
          %li
            %h3.ul-li-heading Registration
            %p.ul-li-desc
            %p.ul-li-aside
              %strong Registration
          %li{"data-role" => "list-divider"}
            8:30 - 9:00
          %li
            %h3.ul-li-heading Welcome
            %p.ul-li-desc
            %p.ul-li-aside
              %strong Welcome
          %li{"data-role" => "list-divider"}
            9:00 - 10:00
          %li
            %h3.ul-li-heading Things I Wish I'd Known
            %p.ul-li-desc Rod Johnson
            %p.ul-li-aside
              %strong Keynote Address
