!!!
%html

  %head
    %meta{ :"http-equiv"=>"Content-Type", :content=>"text/html; charset=UTF-8" }
    %title YOW! Melbourne Schedule 2010

    %link{:rel => "stylesheet", :href => href("/jqm/jquery-20101028.mobile.min.css")}
    %link{:rel => "stylesheet", :href => href("yow.css")}

    %script{:src => href("/jqm/jquery-20101028.min.js")}
    %script{:src => href("/jqm/jquery-20101028.mobile.min.js")}
      
  %body

    ~ include("_schedule.html.haml")

    - yow_sessions.each do |session|
      ~ include("_session.html.haml", :session => session)

    - yow_speakers.each do |speaker|
      ~ include("_speaker.html.haml", :speaker => speaker)
